
@{
    ViewBag.Title = "Add Program";
}
<br/><br/>

<h3>The program <strong>@ViewBag.addedProgram</strong> has been succesfully added.</h3>

<br/>

<p>
    @Html.ActionLink("Back", "ManagePrograms", "Account") |
    @Html.ActionLink("Dashboard", "Index", "IncidentReports")
</p>