@using System.Activities.Statements
@model DanielIncidentReporting.Models.ApplicationUser
@{
    ViewBag.Title = "ManageUsers";
}

<h2>Manage Users</h2>
<hr/>

<!-- Delete User -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="container form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("userId", (SelectList)ViewBag.users, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="container form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete User" class="btn btn-default"/>
        </div>
    </div>
}
<br/>