<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/IncidentReports/Create</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/IncidentReports/Create</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IRTSDBContext2" Order="1" Enabled="False">
          <Destination Path="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DanielIncidentReporting.Models.IRTSDBContext2, DanielIncidentReporting" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IRTSDBContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IncidentReports.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IRTSDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IncidentReports.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IRTSEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IRTSEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANUNF1\RAPTOR;initial catalog=IRTS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IRTSEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IRTSEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.IncidentType.csdl|res://*/Models.IncidentType.ssdl|res://*/Models.IncidentType.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANUNF1\RAPTOR;initial catalog=IRTS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS_users;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS_users;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS_users;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS_users;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IRTSDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IRTSDBContext2-Web.config Connection String">
      <ParameterValue>Data Source=DANUNF1\RAPTOR;Initial Catalog=IRTS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IRTSEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IRTSEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>