@model IEnumerable<DanielIncidentReporting.Models.IncidentReport>

@{
    ViewBag.Title = "Congratulations!";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    <h2>Congratulations! You have successfully submitted an Incident Report!</h2>
    <h3>Your manager will be notified.</h3>
</p>