@model IEnumerable<DanielIncidentReporting.Models.IncidentReport>

@{
    ViewBag.Title = "Congratulations!";
}



<p>
    <h3>Incident Report submitted.</h3>
    <h3>Your manager will be notified.</h3>
</p>

<p>
    @Html.ActionLink("Report New Incident", "Create")
</p>