@model IEnumerable<DanielIncidentReporting.Models.IncidentReport>

@{
    ViewBag.Title = "Congratulations!";
}

<p>
    <h3>Incident Report submitted.</h3>
    <h4>Your manager will be notified.</h4>
</p>

<p>
    @Html.ActionLink("Report New Incident", "Create")
</p>