@{
    ViewBag.Title = "Daniel IRTS";
}

<div class="jumbotron">
    <h1>Daniel Kids Incident Reporting System</h1>
    <p class="lead">Welcome to the Daniel Kids Incident Reporting System. Please click on "Report an Incident" in the navigation bar above to report an incident.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>
            The mission of Daniel Kids is to improve the lives of children and families.
        </p>
        <p><a class="btn btn-default" href="http://danielkids.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>Daniel Kids has been serving the community since 1884.</p>
        <p><a class="btn btn-default" href="http://www.danielkids.org/page.aspx?pid=385">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Programs</h2>
        <p>Daniel Kids offers many programs from prevention to intervention to foster care and  adoption.</p>
        <p><a class="btn btn-default" href="http://www.danielkids.org/page.aspx?pid=373">Learn more &raquo;</a></p>
    </div>
</div>