body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.h4-custom {
    text-align: left;
    font-weight: bold;
}

h2, .h2 {
    text-align: center;
}

.img-responsive .img {
    text-align: center;
}

.img-daniellogo {
    border: 0;
    height: auto; 
    width: auto; 
    max-width: 11.14em; 
    max-height: 5em;
}

.spacer-height1 {
    height: .5em;
    max-height: .5em;
}

.spacer-height2 {
    height: auto;
    max-height: 1em;
}

.row-margin{
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 5px;
  margin-bottom: 5px
}

.table-borderless{
  width:100%;
  max-width: 100%;
  table-layout: fixed;
  background-color: transparent;
}

.table-borderless tr td, .table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    /*border: none;*/
    border: 1px solid black;
}

/* Uses all form-control traits, but also overrides the max-width set above */
/*Intended for us with textareafor's but also works with textboxes*/

/*Custom input classes*/
.raptorInputText{
  width: 100%;
  max-width: none;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.raptorInputTextArea{
    width:100%;
    max-width: 100%;
    max-height:25em;
    display: block;
    height: 5em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}

/*Custom label classes*/
.raptorLabel{
  min-height: 1px;
  padding-left: 0;
  padding-top: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

/*Custom size classes*/
.size-1-wide{
  width: 5%;
}
.size-2-wide{
  width: 10%;
}
.size-3-wide{
  width: 15%;
}
.size-4-wide{
  width: 20%;
}
.size-5-wide{
  width: 25%;
}
.size-6-wide{
  width: 30%;
}
.size-7-wide{
  width: 35%;
}
.size-8-wide{
  width: 40%;
}
.size-9-wide{
  width: 45%;
}
.size-10-wide{
  width: 50%;
}
.size-11-wide{
  width: 55%;
}
.size-12-wide{
  width: 60%;
}
.size-13-wide{
  width: 65%;
}
.size-14-wide{
  width: 70%;
}
.size-15-wide{
  width: 75%;
}
.size-16-wide{
  width: 80%;
}
.size-17-wide{
  width: 85%;
}
.size-18-wide{
  width: 90%;
}
.size-19-wide{
  width: 95%;
}
.size-20-wide{
  width: 100%;
}

.size-1-wide,
.size-2-wide,
.size-3-wide,
.size-4-wide,
.size-5-wide,
.size-6-wide,
.size-7-wide,
.size-8-wide,
.size-9-wide,
.size-10-wide,
.size-11-wide,
.size-12-wide,
.size-13-wide,
.size-14-wide,
.size-15-wide,
.size-16-wide,
.size-17-wide,
.size-18-wide,
.size-19-wide,
.size-20-wide{
  min-height: 1px;
  max-width:none;
  padding-left: 0;
  padding-top: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

/*used for coloring when testing design layout - not for production/release -- TJA*/
.tr-ruler{
      background-color: yellow;
}

.td-end-color{
  background-color: skyblue;
}

.td-center-color{
  background-color: red;
}

.td-quarter-color{
  background-color: forestgreen;
}
/**********************************************************************************/