body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h3, .h3 {
    text-align: left;
    font-weight: bold;
}

h2, .h2 {
    text-align: center;
}

.img-responsive .img {
    text-align: center;
}

.row-margin{
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 5px;
  margin-bottom: 5px
}

/* Uses all form-control traits, but also overrides the max-width set above */
/*Intended for us with textareafor's but also works with textboxes*/

/*set-17-wide*/
.large-textarea{ 
    max-width:none;
    display: block;
    width: 66.47em;
    height: 5em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}

/*set-6-wide*/
.extralarge-textinput{
  max-width:none;
  display: block;
  width: 23.46em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*set-5-wide*/
.large-textinput{
  max-width:none;
  display: block;
  width: 19.55em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*set-4-wide*/
.medium-textinput{
  max-width:none;
  display: block;
  width: 15.64em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*set-3-wide*/
.small-textinput{
  max-width:none;
  display: block;
  width: 11.73em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*set-2-wide*/
.tiny-textinput{
  max-width:none;
  display: block;
  width: 7.82em;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*set-5-wide*/
.large-label{
  max-width:none;
  width: 19.55em;
  padding-top: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

/*set-4-wide*/
.medium-label{
  max-width:none;
  width: 15.64em;
  padding-top: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

/*set-3-wide*/
.small-label{
  max-width:none;
  width: 11.73em;
  padding-top: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.set-1-wide{
  max-width:none;
  width: 3.91em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-2-wide{
  max-width:none;
  width: 7.82em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-3-wide{
  max-width:none;
  width: 11.73em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-4-wide{
  max-width:none;
  width: 15.64em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-5-wide{
  max-width:none;
  width: 19.55em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-6-wide{
  max-width:none;
  width: 23.46em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-17-wide{
  max-width:none;
  width: 66.47em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.set-21-wide{
  max-width:none;
  width: 82.11em;
  padding-left: 0px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/*used for coloring when testing design layout - not for production/release -- TJA*/
.tr-ruler{
      background-color: dimgray;
}

.td-center-color{
  background-color: red;
}

.td-quarter-color{
  background-color: forestgreen;
}
